<template>
  <div id="container">
    <div class="row">
      <div
        class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 text-center"
      >
        <h1>Animations</h1>
        <hr />
        <select v-model="typeAnimation" class="form-control w-25">
          <option value="fade">Fade</option>
          <option value="slide">Slide</option>
        </select>
        <button class="btn btn-success" @click="show = !show">
          Show notification
        </button>
        <br />
        <br />
        <transition :name="typeAnimation">
          <div class="alert alert-warning" v-if="show">
            This is something about notifications
          </div>
        </transition>
        <br />
        <transition
          appear
          enter-class=""
          enter-active-class="animate__animated animate__bounceOutDown"
          leave-class=""
          leave-active-class="animate__animated animate__hinge"
        >
          <div class="alert alert-danger" v-if="show">
            This is something about notifications
          </div>
        </transition>
        <br />
        <transition :name="typeAnimation" mode="out-in">
          <div class="alert alert-success" v-if="show" key="success">
            This is something about notifications from success
          </div>
          <div class="alert alert-danger" v-else key="danger">
            This is something about notifications from danger
          </div>
        </transition>
        <hr />
        <button class="btn btn-success" @click="status = !status">
          Add or Remove
        </button>
        <transition
          @before-enter="beforeEnter"
          @enter="enter"
          @after-enter="afterEnter"
          @enter-cancelled="enterCancelled"
          @before-leave="beforeLeave"
          @leave="leave"
          @after-leave="afterLeave"
          @leave-cancelled="leaveCancelled"
        >
          <div
            style="width: 100px; height: 100px; background: lightblue"
            v-if="status"
          ></div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: true,
      status: false,
      typeAnimation: "fade"
    };
  },
  methods: {
    beforeEnter(el) {
      console.log("beforeEnter");
    },
    enter(el, done) {
      console.log("enter");
      done();
    },
    afterEnter(el) {
      console.log("afterEnter");
    },
    enterCancelled(el) {
      console.log("enterCancelled");
    },
    beforeLeave(el) {
      console.log("beforeLeave");
    },
    leave(el, done) {
      console.log("leave");
      done();
    },
    afterLeave(el) {
      console.log("afterLeave");
    },
    leaveCancelled(el) {
      console.log("leaveCancelled");
    }
  }
};
</script>

<style>
/* enter */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
  /* opacity: 1; */
}

/* leave */
.fade-leave {
}
.fade-leave-active {
  transition: 1s;
  opacity: 0;
}

/* Slide transition effect */
/* enter */
.slide-enter {
  opacity: 0;
}
.slide-enter-active {
  transition: opacity 1s;
  animation: slide-in 1s ease-out forwards;
}
/* leave */
.slide-leave {
}
.slide-leave-active {
  opacity: 0;
  transition: opacity 1s;
  animation: slide-out 1s ease-out forwards;
}

/* key frames */
@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
</style>
